.container {
    height: auto;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 67px;

    > :not(:last-child) {
        margin-bottom: 12px;
    }

    .button {
        width: fit-content;
        margin-right: 6px;
        flex-shrink: 0;
    }
}
