.container {
    height: auto;
    display: block;

    > :not(:last-child) {
        margin-bottom: 12px;
    }

    .button {
        width: fit-content;
        margin-right: 6px;
        flex-shrink: 0;
    }
}
