#######################################################
# Temporal configuration
#######################################################

TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_NAMESPACE=default

# Temporal Badgerdoc connection configuration
TEMPORAL_BADGERDOC_ADDRESS=http://badgerdoc

# Temporal database configuration
DB=postgres12
DBNAME=temporal
POSTGRES_USER=badgerdoc
POSTGRES_PWD=badgerdoc
POSTGRES_SEEDS=db
DB_PORT=5432


#######################################################
# Badgerdoc configuration
#######################################################

# Badgerdoc database configuration

BADGERDOC_DB_ENGINE=postgres
BADGERDOC_DB_NAME=badgerdoc
BADGERDOC_DB_USER=badgerdoc
BADGERDOC_DB_PASSWORD=badgerdoc
BADGERDOC_DB_HOST=db
BADGERDOC_DB_PORT=5432

# Badgerdoc S3 configuration

BADGERDOC_OBJECT_STORAGE_ACCESS_KEY=minioadmin
BADGERDOC_OBJECT_STORAGE_SECRET_KEY=minioadmin
BADGERDOC_OBJECT_STORAGE_BUCKET=badgerdoc
BADGERDOC_OBJECT_STORAGE_URL=http://minio:9000
BADGERDOC_OBJECT_STORAGE_REGION=us-east-1
BADGERDOC_OBJECT_STORAGE_ADDRESSING_STYLE=path

# Badgerdoc web configuration

BADGERDOC_LOG_LEVEL=DEBUG
BADGERDOC_HOST=http://badgerdoc
BADGERDOC_ADDRESS=http://badgerdoc
BADGERDOC_INTERNAL_ADDRESS=http://badgerdoc
BADGERDOC_TOKEN=
BADGERDOC_MAX_FILE_SIZE=104857600

# comma-separated list of applications connected to badgerdoc
BADGERDOC_DJANGO_APPS=


# Badgerdoc workflows configuration
BADGERDOC_LIFECYCLE_WORKFLOW_TYPE=BadgerdocLifecycleWorkflow
BADGERDOC_LIFECYCLE_QUEUE=badgerdoc_lifecycle

# RETRY POLICY INDEXES: initial_interval, backoff_coefficient, maximum_interval, maximum_attempts
BADGERDOC_REST_API_RETRY_POLICY=1,2.0,30,3
BADGERDOC_REST_API_START_TO_CLOSE_TIMEOUT=5

#######################################################
# PostgreSQL Configuration (Main DB)
#######################################################

POSTGRES_DB=badgerdoc
POSTGRES_USER=badgerdoc
POSTGRES_PASSWORD=badgerdoc

#######################################################
# MinIO Configuration
#######################################################

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

ENV_STAGE=development

#######################################################
# Sentry Configuration
#######################################################

SENTRY_DSN=
SENTRY_ENVIRONMENT=local

#######################################################
# OCR Configuration
#######################################################

HOST_ADDRESS=host.docker.internal
DEEPSEEK_2_MODEL=mlx-community/DeepSeek-OCR-2-bf16
PADDLE_MODEL=mlx-community/PaddleOCR-VL-1.5-bf16
MAX_TOKENS=10000

API_KEY=

JUDGE_MODEL=claude-sonnet-4-5@20250929
ARBITRATOR_MODEL=claude-sonnet-4-5@20250929