.title-active {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #008ACE;
}

.title-passive {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #6C6F80;
}