apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: users
  name: users
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: users
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      creationTimestamp: null
      labels:
        app: users
    spec:
      containers:
      - image: {{ .Values.image.registry }}/users:{{ .Values.image.tag }}
        imagePullPolicy: IfNotPresent
        name: users
        resources:
          requests:
            memory: "100Mi"
            cpu: "200m"
          limits:
            memory: "1200Mi"
            cpu: "600m"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: users
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: users
              key: POSTGRES_PASSWORD
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_DB
          value: "users"
        - name: POSTGRES_HOST
          value: "postgres-postgresql"
        - name: MINIO_URI
          value: "minio:80"
        - name: MINIO_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: assets
              key: MINIO_ACCESS_KEY
        - name: MINIO_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: assets
              key: MINIO_SECRET_KEY
        - name: KEYCLOAK_ENDPOINT
          value: "http://bagerdoc-keycloack"
        - name: KEYCLOAK_USERS_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: users-keycloack
              key: KEYCLOAK_USERS_PUBLIC_KEY
        - name: KEYCLOAK_DIRECT_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: users
              key: KEYCLOAK_DIRECT_ENDPOINT_DEV1
        - name: BADGERDOC_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: users
              key: BADGERDOC_CLIENT_SECRET_DEV1
        - name: ADMIN_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: users
              key: ADMIN_CLIENT_SECRET_DEV1
        command: ["/bin/sh"]
        args: ["-c", "uvicorn src.main:app --host 0.0.0.0 --port 8080 --root-path /api/v1/users"]
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
