.task-sidebar-data {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
}

.tree {
    flex: 1;
    max-height: calc(100% - 56px);
}

.search {
    width: 294px;
    margin: 10px auto;
}
