.document-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-subheader {
        padding: 10px 20px;
    }
}

.document-page-content {
    flex: 1;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
    padding: 0 0 1rem 0;
    height: 0;
}
