.document-page {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-subheader {
        margin-left: 55px;
        display: flex;
        align-items: center;
        padding: 22px 28px 24px 28px;
        gap: 10px;
        &-title {
            font-size: 16px;
        }

        &-caption {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.document-page-content {
    flex: 1;
    display: grid;
    grid-template-columns: 320px 1fr 320px;
    gap: 1rem;
    padding: 0 4rem 1rem 1rem;
    height: 0;
}
