.container {
    height: 100%;
    & > * {
        margin: 0 0 6px;
    }
}

.search {
    width: auto;
}

.header {
    padding: 10px 0 5px;
    font-weight: 500;
}

.picker_list {
    height: calc(100% - 70px);
    & > div {
        height: 100%;
        overflow: auto;
        padding-left: 2px;
    }
}
