@import '~shared/helpers/styles';

.pdf-container {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    height: calc(100% - 40px);
    gap: 0.5rem;
}

.pdf-document-container {
    display: grid;
    overflow: hidden;
}

.pdf-parent {
    overflow: auto;
}

.page-scale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    &__button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__item {
        width: 36px;
        height: 36px;
        border: solid 1px $btn-border;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &--active {
            background-color: #474a5a;
            svg {
                fill: white;
            }
        }
    }
}

.document-wrapper {
    position: relative;
}

.split-document-wrapper {
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.split-document-wrapper--pages-2 {
    grid-template-rows: max-content max-content max-content 1fr;
}

.split-document-wrapper--pages-3 {
    grid-template-rows: max-content max-content max-content 1fr max-content 1fr;
}

.split-document-wrapper--pages-4 {
    grid-template-rows: max-content max-content max-content 1fr max-content 1fr max-content 1fr;
}

.split-document-page {
    overflow: auto;
}
