@import '~shared/helpers/styles';

.pdf-container {
    height: 100%;
    display: grid;
}

.with-multiple-view {
    height: calc(100% - 40px);
}

.pdf-document-container {
    display: grid;
    overflow: hidden;
}

.pdf-parent {
    overflow: auto;
}

.document-wrapper {
    position: relative;
}

.split-document-wrapper {
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.split-document-wrapper--pages-2 {
    grid-template-rows: max-content max-content max-content 1fr;
}

.split-document-wrapper--pages-3 {
    grid-template-rows: max-content max-content max-content 1fr max-content 1fr;
}

.split-document-wrapper--pages-4 {
    grid-template-rows: max-content max-content max-content 1fr max-content 1fr max-content 1fr;
}

.split-document-page {
    overflow: auto;
}
