services:
  minio:
    image: minio/minio
    networks:
      - app-network
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - convert/.env
    volumes:
      - ./:/convert/
    command: server --console-address ":9001" /export

  web:
    build:
      context: .
      target: build
    restart: on-failure
    env_file:
      - convert/.env
    volumes:
      - "./convert:/convert/convert"
    command: "uvicorn convert.main:app --host 0.0.0.0 --port 8080 --reload"
    depends_on:
      - minio
    ports:
      - '8080:8080'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
