.listContainer {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 8px;
    height: 100%;
    overflow: auto;
}

.item {
    padding: 8px;
    overflow: unset;
    cursor: pointer;
    border-radius: unset;
    border: 2px solid white;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.labelText {
    padding: 5px;
    color: inherit !important;
    border: inherit !important;
}

.selectedAnnotation {
    border-color: black;
}

.text {
    overflow: unset;
    text-overflow: unset;
    word-break: break-word;
}

.toolbar {
    min-height: unset;
    padding: 16px 16px 4px 16px;
}

.button {
    & svg {
        width: 12px;
        height: 12px;
    }
}

.counter {
    padding: 0;
}

.tab {
    width: 100%;
    justify-content: center;
}

.pathContainer {
    padding-bottom: 0 !important;
    word-break: break-word;
}

.container {
    width: 320px;
    height: 100%;
    border-radius: 0 !important;
}

.hideIcon {
    outline: none;
    width: 16px !important;
    border: unset !important;
    box-shadow: unset !important;
    border-radius: 0 !important;
}

.wrapper {
    flex-direction: row;
    border-radius: 0 !important;
}

.link-row {
    justify-content: space-between;
    width: 280px;
    padding: 2px 8px;

    & .title {
        display: flex;
        gap: 4px;
    }

    & .cross {
        display: none !important;
    }

    &:hover {
        background-color: #e1e3eb;

        .cross {
            display: flex !important;
        }
    }
}
