.content {
    flex: 1;
    overflow: hidden;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: 1rem;
    padding-bottom: 1rem;
}

.title {
    padding: 0 20px;
}
