.upload-indicator {
    min-width: 100px;
    margin-bottom: 4px;

    span {
        display: block;
        padding-left: 24px;
        font-size: 12px;
    }

    .uploading {
        padding: 0 0px;
    }

    .processing {
        padding: 0 24px;
    }
}
