apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
  labels:
    app: processing
  name: processing
  namespace: {{ .Release.Namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: processing
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: "false"
      creationTimestamp: null
      labels:
        app: processing
    spec:
      containers:
      - image: {{ .Values.image.registry }}/processing:{{ .Values.image.tag }}
        imagePullPolicy: IfNotPresent
        name: processing
        resources:
          requests:
            memory: "200Mi"
            cpu: "200m"
          limits:
            memory: "8000Mi"
            cpu: "1000m"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: pipelines
              key: DB_USERNAME
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pipelines
              key: DB_PASSWORD
        - name: DB_NAME
          value: "processing"
        - name: DB_HOST
          value: "postgres-postgresql"
        - name: DB_PORT
          value: "5432"
        - name: SERVICE_NAME
          value: "processing"
        - name: S3_CREDENTIALS_PROVIDER
          value: "minio"
        - name: MINIO_SERVER
          value: "minio:80"
        - name: MINIO_ROOT_USER
          valueFrom:
            secretKeyRef:
              name: processing
              key: MINIO_ROOT_USER
        - name: MINIO_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: processing
              key: MINIO_ROOT_PASSWORD
        command: ["/bin/bash"]
        args: ["-c", "alembic upgrade head && uvicorn src.main:app --host 0.0.0.0 --port 8080 --root-path /api/v1/processing"]
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
