.control-container {
    padding-bottom: 12px;
}

.header-container {
    padding-bottom: 24px;
}

.sort-name {
    width: 70px;
    color: #6C6F80;
    font-size: 14px;
}

.search-filter {
    min-width: 160px;
}