
.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    z-index: 100;
    &:hover {
        border-bottom-width: 2px !important;
    }
}
.label {
    cursor: pointer;
    color: white;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    // transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.46);
    &:hover {
        background: rgba(255, 255, 255, 0.76);
    }
}
.container {
    margin: 0 -14px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.arrowBottom {
    // position: relative;
    // width: fit-content;
    // margin: 0 auto;
    // transform: translateY(-20px);
    transform: rotate(90deg);
    fill: currentColor;
}

.arrowTop {
    transform: rotate(-90deg);
    fill: currentColor;
}
