name: filter_lib precommit and test
run-name: filter_lib precommit and test
on:
  push:
    paths:
      - lib/filter_lib/**
      - lib/python3.12/filter_lib/**
      - .github/worlflows/filter-lib.yml
  pull_request:
    paths:
      - lib/filter_lib/**
      - lib/python3.12/filter_lib/**
      - .github/worlflows/filter-lib.yml
jobs:
  filter-lib-pre-commit-actions:
    strategy:
      matrix:
        python-version: [ "3.8.15" ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Run isort
        uses: isort/isort-action@v1.1.0
        with:
          sort-paths: lib/filter_lib/*
          configuration:
            --check-only
            --profile=black
            --line-length=79
            --skip=tests
      - name: Black
        uses: psf/black@stable
        with:
          src: "lib/filter_lib"
          options: '--check --line-length=79 --exclude="tests" --verbose'
      - run: pip install flake8
      - run: flake8 --exclude=tests --extend-ignore=E203 lib/filter_lib
  filter-lib-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.8.15" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          cd lib/filter_lib
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      - name: Test with pytest
        run: |
          cd lib/filter_lib
          pytest
