name: Lint
on:
  pull_request:
    paths:
      - "**.py"
      - ".github/workflows/lint.yml"

env:
  PYTHON_VERSION: 3.8
  LINT_CONFIG: pyproject.toml


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --only dev
      - name: Run Isort
        run: |
          poetry run isort --diff --check-only .
      - name: Run Black
        run: |
          poetry run black --config $LINT_CONFIG --diff --check 
